<ion-card>
  <ion-card-header>
    <ion-card-title>Side-by-Side</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div style="display: flex; align-items: center;">
      <ion-icon name="footsteps" class="big-icon" size="large" style="margin-right: 16px;"></ion-icon>

      <div>
        <span style="font-size: 64px;">
          {{ seconds() }}.{{ displayMilliseconds() }}
        </span>
        <span style="font-size: 32px; color: gray;">seconds</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <ion-button
      expand="full"
      size="large"
      [color]="buttonColor()"
      (click)="toggleTimer()">

      {{ buttonText() }}

    </ion-button>
  </ion-card-content>
</ion-card>